# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Data, outputs & uploads
data/
datasets/
output/
uploads/
test_image_classification/


# Notebooks
notebooks/
*.ipynb
.ipynb_checkpoints/

# Logs & temp files
*.log
*.tmp

# Streamlit / local runtime
.streamlit/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
